CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_JM_DAJ=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable GPIO
CONFIG_GPIO=y

# Use internal RC oscillator if no external crystal
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=n
CONFIG_CLOCK_CONTROL_NRF_K32SRC_50PPM=n

# Build hex
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_HEX=y

# Enable sleep, default set to 45 min (defined in ms)
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=2700000 

# USB Configuration
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_PRODUCT="JM DAJ Keyboard"
CONFIG_USB_DEVICE_VID=0x1209
CONFIG_USB_DEVICE_PID=0x0001
CONFIG_USB_DEVICE_MANUFACTURER="JM"

CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# BLE Configuration
CONFIG_BT=y
CONFIG_BT_CTLR=y
CONFIG_BT_PERIPHERAL=y
CONFIG_BT_DEVICE_NAME="JM DAJ"
CONFIG_BT_DEVICE_APPEARANCE=961
CONFIG_BT_GATT_DYNAMIC_DB=y
CONFIG_BT_MAX_CONN=3
CONFIG_BT_MAX_PAIRED=3
CONFIG_BT_SETTINGS=y
CONFIG_BT_DIS=y
CONFIG_BT_BAS=y

# Debug Console via RTT only
CONFIG_CONSOLE=y
CONFIG_RTT_CONSOLE=y
CONFIG_USE_SEGGER_RTT=y
CONFIG_SEGGER_RTT_BUFFER_SIZE_UP=2048
CONFIG_LOG=y
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_ZMK_USB_LOGGING=n
CONFIG_ZMK_LOG_LEVEL_DBG=y
CONFIG_UART_CONSOLE=n